.logo-link {
    height: 100%;

    img {
        height: 100%;
    }
}

.nav-link {
    height: 100%;
    padding: 16px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
}