<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a class="logo-link" href="/">
            <img src="/assets/img/logo.png" alt="" srcset="">
        </a>
        <a [routerLink]="'/app/article'" class="nav-link">
            博文
        </a>
    </mat-toolbar-row>
</mat-toolbar>

<!-- <section>
    <aside id="leftsidebar" class="sidebar">
        <sidebar-nav></sidebar-nav>
    </aside>
</section> -->

<section class="content">
    <div class="">
        <router-outlet></router-outlet>
    </div>
</section>
