<div class="profile-page">
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/117845/19673/5af10b91f629d8100cf43a54.css' rel='stylesheet' type='text/css' />
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/117845/19673/5af24ce2f629d91a4c812900.css' rel='stylesheet' type='text/css' />
    <div class="header">
        <div class="content">
            <span class="logo"><i class="large material-icons">person</i></span>
            <h1 class="css11e2be786c1cc55">莫道路远</h1>
            <h3 class="css11e7a59e3b1cc55">江水难测韶华逝，落雪已至北国春。</h3>
        </div>
    </div>

    <div class="main container">
        <div class="basic-info row info-container">
            <div class="col-6 photo">
                <a href="#" class="image left">
                    <img src="/assets/img/person.jpg" alt="" srcset="">
                </a>
            </div>

            <div class="col-6 info-box">
                <div><h2>个人信息</h2></div>
                <div>
                    <i class="mdui-icon material-icons">&#xe7ff;</i><span>胡晗</span>
                </div>
                <div>
                    <i class="mdui-icon material-icons">&#xe916;</i><span>1990/05/20</span>
                </div>
                <div>
                    <i class="mdui-icon material-icons">&#xe0cd;</i><span>17521225770</span>
                </div>
                <div>
                    <i class="mdui-icon material-icons">&#xe0be;</i><span>hhlsch@hotmail.com</span>
                </div>
            </div>
        </div>

        <div class="work-info row info-container">
            <div class="col-6 info-box">
                <div><h2>工作经历</h2></div>
                <div>
                    <i class="mdui-icon material-icons">&#xe916;</i><span>2014-09 至今</span>
                </div>
                <div>
                    <i class="mdui-icon material-icons">&#xe7f1;</i><span>上海群硕软件公司</span>
                </div>
                <div>
                    <i class="mdui-icon material-icons">&#xe55a;</i><span>前端工程师，Leader</span>
                </div>
            </div>
            <div class="col-6">
                <a href="#" class="image right">
                    <img src="/assets/img/paper.jpg" alt="" srcset="">
                </a>
            </div>
        </div>
    </div>

    <div class="footer">

    </div>
</div>