.mat-sidenav-container {
    min-height: calc(100vh - 64px);

    .mat-sidenav-content {
        width: calc(100% - 250px);
        padding: 10px 20px;
        
        &.hide-sidenav {
            width: 100%;
        }
    }
}

.mat-sidenav {
    min-width: 250px;
    padding-top: 50px;
}

.nav-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    list-style: none;
    height: 35px;
    padding: 0 20px;

    a {
        color: #333;
        text-decoration: none;
        outline: none;
    }

    &:hover {
        background-color: #dbdbdb;
        a {
            color: #ff5722;
            text-shadow: 0 0 5px #fff;
        }
    }
}

.col-item {
    margin-bottom: 15px;
}

.article-item {
    height: 100%;
    width: 100%;
    position: relative;
    color: #fff;
    cursor: pointer;    

    &:hover {
        .bottom-part .article-info {
            height: 36px;
            padding-top: 4px;
        }

        .title {
            background-color: transparentize($color: #000, $amount: 0.3);
        }
    }

    img {
        max-width: 100%;
        min-height: 100%;
    }

    .title {
        position: absolute;
        transition: all 0.3s ease-out;
        top: 0;
        left: 0;
        width: 100%;
        background-color: transparentize($color: #000, $amount: 0.5);
        font-size: 24px;
        padding: 5px 10px;
        font-weight: bold;
    }

    .bottom-part {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
        padding: 5px 10px;

        .article-info {
            text-align: right;
            display: flex;
            height: 0;
            padding-top: 0px;
            transition-timing-function: ease-out;
            transition-property: all;
            transition-duration: 0.2s;
            align-items: flex-start;
            justify-content: flex-end;
            overflow: hidden;

            .info-item {
                margin-left: 10px;

                & > * {
                    vertical-align: middle;
                    display: inline-block;
                }

                .mat-icon {
                    margin-right: 4px;
                }
            }
        }
    }
}